{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate 'Apps' %} {% endblock%}
{% block page_title %}{% trans 'All apps' %}{% endblock %}

{% block title_button %}
<a class="btn btn-primary btn-sm rounded-pill" href="{% url 'app_new' %}">
    {% translate 'New app' %}
    <i class="bi bi-rocket-takeoff"></i>
</a>
{% endblock %}
{% block content %}

<div class="bg-white shadow-sm rounded">
    {% if apps %}
    {% include 'app/list.html' %}
    {% else %}
    <div class="h5 text-center p-3">
        {% trans 'You have no apps yet' %}
        <div class="">
            <a href="{% url 'app_new' %}">
                <i class="bi bi-folder-plus fs-1"></i>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
