{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate 'Files' %} - {{app.name}} {% endblock %}
{% block page_title %} {% translate 'Files' %} - {{app.name}} {% endblock %}
{% block title_button %}
    <button class="clickable-folder btn btn-light border" data-path="{{app.www_path}}/">
        <i class="bi bi-house"></i>
    </button>
{% endblock %}


{% block content %}
<div class="bg-white shadow-sm rounded p-3">
    <div id="files">
        {% include 'app/inc/files-list.html' %}
    </div>
        {% include 'app/inc/upload.html' %}
</div>

<script>
    jQuery('body').on('click', '.clickable-folder', function(){
        jQuery.ajax({
             type: "GET",
             url: "{% url 'app_files_ajax' app.serial %}?path="+jQuery(this).attr('data-path'),
             success: function(data){
                jQuery('#files').html(data)
             }
        })
    })
</script>
{% endblock %}
