{% load i18n %}
<div class="table-responsive-md">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 0">#</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Domain' %}</th>
            <th>{% translate 'Port' %}</th>
            <th style="min-width: 300px">{% translate 'Environment' %}</th>
            <th style="width: 150px">{% translate 'SSL' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for app in apps %}
            <tr>
                <td>
                    {% if apps.start_index %}
                    {{apps.start_index|add:forloop.counter0}}
                    {% else %}
                    {{forloop.counter}}
                    {% endif %}
                </td>
                <td>{{app.name}}</td>
                <td>
                    <a href="http://{{app.domain}}" target="_blank">
                        {{app.domain}}
                    </a>
                </td>
                <td>{{app.port}}</td>
                <td>
                    <div class="input-group input-group-sm">
                        <button type="button" class="btn btn-warning rounded-start-pill" onclick="jQuery(this).parents('.input-group').find('input').select();copy_this('source {{app.venv_path}}/bin/activate && cd {{app.www_path}}','{% trans 'Paste the command in the terminal to activate virtual environment of this app' %}')" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Terminal environment command' %}">
                            <i class="bi bi-terminal"></i>
                        </button>
                        <input type="text" class="form-control form-control-sm" value="source {{app.venv_path}}/bin/activate && cd {{app.www_path}}" readonly dir="ltr">
                        <a href="{% url 'app_files' app.serial %}" class="btn btn-danger rounded-end-pill" data-bs-toggle="tooltip" title="{% trans 'File manager' %}" target="_blank">
                            <i class="bi bi-folder"></i>
                        </a>
                    </div>
                </td>
                <td>
                    <a href="{% url 'app_certificates' app.serial %}" class="btn btn-{% if app.certificate_app.all %}success{% else %}light border{% endif %} btn-sm rounded-pill">
                        <i class="bi bi-shield"></i>
                        {% if app.certificate_app.all %}{% trans 'Installed' %}{% else %}{% trans 'Not installed' %}{% endif %}
                    </a>
                </td>
                <td>
                    <div class="dropdown">
                        <i class="bi bi-three-dots-vertical pointer float-end" id="dropdownMenu-{{forloop.counter}}"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu-{{forloop.counter}}">
                            <li>
                                <a class="dropdown-item" href="{% url 'app_config' app.serial %}" target="_blank">
                                    {% trans 'Configuration' %}
                                    <i class="bi bi-gear-fill float-end"></i>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'app_files' app.serial %}"  target="_blank">
                                    {% trans 'Manage files' %}
                                    <i class="bi bi-folder float-end"></i>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <span class="dropdown-item pointer" onclick="open_link_confirm('{% url 'app_restart' app.serial %}')">
                                    {% trans 'Restart' %}
                                    <i class="bi bi-arrow-clockwise float-end"></i>
                                </span>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <span class="dropdown-item pointer text-danger" onclick="open_link_confirm('{% url 'app_delete' app.serial %}')">
                                    {% trans 'Delete' %}
                                    <i class="bi bi-trash float-end"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor  %}
        </tbody>
    </table>
</div>