{% load i18n %}
<div class="table-responsive-md">
    <table class="table">
        <thead>
        <tr>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Domain' %}</th>
            <th>{% translate 'Port' %}</th>
            <th>{% translate 'Path' %}</th>
            <th>{% translate 'SSL' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for app in apps %}
            <tr>
                <td>
                    <a href="{% url 'apps' %}" class="fw-bold">
                        {{app.name}}
                    </a>
                </td>
                <td>
                    {{app.domain}}
                    <a href="http://{{app.domain}}" target="_blank">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </td>
                <td>{{app.port}}</td>
                <td>
                    <div class="blur-group input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" value="{{app.www_path}}" readonly dir="ltr" onclick="copy_this(this.value)">
                        <button type="button" class="btn btn-warning" onclick="copy_this('source {{app.venv_path}}/bin/activate && cd {{app.www_path}}')" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans '' %}">
                            <i class="bi bi-terminal"></i>
                        </button>
                    </div>
                </td>
                <td>
                    <a href="{% url 'app_certificates' app.serial %}" class="btn btn-{% if app.certificate_app.all %}success{% else %}light border{% endif %} btn-sm rounded-pill">
                        <i class="bi bi-shield"></i>
                        {% if app.certificate_app.all %}{% trans 'Installed' %}{{% else %}{% trans 'Not installed' %}{% endif %}
                    </a>
                </td>
                <td>
                    <div class="dropdown">
                        <i class="bi bi-three-dots-vertical pointer float-end" id="dropdownMenu-{{forloop.counter}}"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu-{{forloop.counter}}">
                            <li>
                                <a class="dropdown-item" href="{% url 'app_config' app.serial %}" target="_blank">
                                    {% trans 'Configuration' %}
                                    <i class="bi bi-gear-fill float-end"></i>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'app_files' app.serial %}"  target="_blank">
                                    {% trans 'Manage files' %}
                                    <i class="bi bi-folder float-end"></i>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <span class="dropdown-item pointer" onclick="open_link_confirm('{% url 'app_restart' app.serial %}')">
                                    {% trans 'Restart' %}
                                    <i class="bi bi-arrow-clockwise float-end"></i>
                                </span>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <span class="dropdown-item pointer" onclick="open_link_confirm('{% url 'app_delete' app.serial %}')">
                                    {% trans 'Delete' %}
                                    <i class="bi bi-trash float-end"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% include 'app/inc/user-form.html' %}
            {% endfor  %}
        </tbody>
    </table>
</div>

<script>
    jQuery('.app-user-form-toggle').click(function(){
        form = jQuery('.app-user-form.'+jQuery(this).data('app'))
        if(form.is(':visible')) {
            form.hide()
        }else{
            jQuery('.app-user-form').hide()
            form.show()
        }
    })
</script>