{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate 'New app' %} {% endblock %}
{% block page_title %} {% translate 'New app' %} {% endblock %}
{% block title_button %}
{% endblock %}

{% block content %}
<div class="w-100">
    <form class="row" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {% include 'inc/form.html'%}
        <div>
            <button type="submit" class="btn btn-primary mt-3">
                {% translate 'Submit' %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
