{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {{domain}} - {% trans 'SSL certificates' %} {% endblock %}
{% block page_title %} {{domain}} - {% trans 'SSL certificates' %} {% endblock %}
{% block title_button %}
<a href="javascript:void(0)" class="btn btn-primary btn-sm rounded-pill" onclick="open_link_confirm('{% url 'certificate_new' domain.serial %}')">
    {% trans 'New certificate' %}
    <i class="bi bi-shield"></i>
</a>
{% endblock %}

{% block content %}
<div class="bg-white shadow-sm rounded p-3">
    {% if domain.certificates %}
    {% include 'certificate/list.html' %}
    {% else %}
    {% trans 'This domain have no certificates yet' %}
    {% endif %}
</div>
{% endblock %}
