{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate 'Python apps' %} {% endblock%}
{% block page_title %}{% trans 'Python apps' %}{% endblock %}

{% block title_button %}
<a class="btn btn-primary btn-sm rounded-pill" href="{% url 'python_app_new' %}">
    {% translate 'New app' %}
    <i class="bi bi-rocket-takeoff"></i>
</a>
{% endblock %}
{% block content %}
<div class="bg-white shadow-sm rounded">
    {% if apps %}
        {% include 'app/python/list.html' %}
    {% include 'inc/paginator.html' with query=apps %}
    {% else %}
    <div class="h5 text-center p-3">
        {% trans 'No apps found' %}
        <div class="">
            <a href="{% url 'python_app_new' %}">
                <i class="bi bi-folder-plus fs-1"></i>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
