{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {{domain}} - {% trans 'SSL certificates' %} {% endblock %}
{% block page_title %} {{domain}} - {% trans 'SSL certificates' %} {% endblock %}
{% block title_button %}
<span class="btn btn-primary btn-sm rounded-pill" onclick="open_link_confirm('{% url 'domain_ssl_new' domain.serial %}')">
    {% trans 'New certificate' %}
    <i class="bi bi-shield"></i>
</span>
{% endblock %}

{% block content %}
<div class="bg-white shadow-sm rounded p-3">
    {% if status.certbot_status %}
        {% if domain.certificates %}
        <div class="responsive-table-md">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'Created' %}</th>
                        <th>{% trans 'Expires' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for certificate in domain.certificates %}
                    <tr>
                        <td>
                            {% if certificate.start_index %}
                            {{certificate.start_index|add:forloop.counter0}}
                            {% else %}
                            {{forloop.counter}}
                            {% endif %}
                        </td>
                        <td>
                            {{certificate.created_date|date:"Y-m-d H:i, l"}}
                        </td>
                        <td>
                            {{ certificate.expire_date|date:"Y-m-d H:i, l" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        {% trans 'This domain have no certificates yet' %}
        {% endif %}
    {% else %}
    <div class="text-center">
        <div class="fw-bold h5">
                {% trans 'Certbot not installed' %}
        </div>
        <button type="button" class="btn btn-info btn-sm rounded-pill" id="install-certbot">
            {% translate 'Install Certbot now' %}
            <i class="bi bi-robot"></i>
        </button>
    </div>
    <script>
    jQuery(document).ready(function () {
        jQuery("#install-certbot").click(function(event) {
            jQuery('.loading-preloader').show();
            jQuery.ajax({
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'certbot_install': true
                },
                success: function (response) {
                    jQuery('.loading-preloader').hide();
                    Swal.fire({
                        icon: response.success ? 'success' : 'error',
                        text: response.message,
                        allowOutsideClick: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "{% url 'domain_certificates' domain.serial %}"
                        }
                    });
                },
                error: function () {
                    jQuery('.loading-preloader').hide();
                    alert('{% trans "An error occurred while submitting the form" %}');
                }
            });
        });
    });
    </script>
    {% endif %}
</div>
{% endblock %}
