{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate 'Domains' %} {% endblock%}
{% block page_title %}{% trans 'Domains' %}{% endblock %}

{% block title_button %}
<a class="btn btn-primary btn-sm rounded-pill" href="{% url 'domain_new' %}">
    {% translate 'New domain' %}
    <i class="bi bi-link-45deg"></i>
</a>
{% endblock %}
{% block content %}
<div class="bg-white shadow-sm rounded">
    {% if domains %}
        {% include 'domain/list.html' %}
    {% include 'inc/paginator.html' with query=domains %}
    {% else %}
    <div class="h5 text-center p-3">
        {% trans 'No domains found' %}
        <div class="">
            <a href="{% url 'domain_new' %}">
                <i class="bi bi-folder-plus fs-1"></i>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
