{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate 'Domains' %} {% endblock%}
{% block page_title %}{% trans 'All domains' %}{% endblock %}

{% block title_button %}
{% if status.nginx_status %}
<a class="btn btn-primary btn-sm rounded-pill" href="{% url 'domain_new' %}">
    {% translate 'New domain' %}
    <i class="bi bi-rocket-takeoff"></i>
</a>
{% endif %}
{% endblock %}
{% block content %}
<div class="bg-white shadow-sm rounded">
    {% if status.nginx_status %}
        {% if domains %}
            {% include 'domain/list.html' %}
        {% include 'inc/paginator.html' with query=domains %}
        {% else %}
        <div class="h5 text-center p-3">
            {% trans 'No domains found' %}
            <div class="">
                <a href="{% url 'domain_new' %}">
                    <i class="bi bi-folder-plus fs-1"></i>
                </a>
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="h5 text-center p-3">
            {% trans 'You need to install uwsgi and nginx first' %}
            <div class="mt-3">
                {% if not status.nginx_status %}
                <button id="install-nginx" class="install-server btn btn-info rounded-pill" data-name="nginx">
                    {% translate 'Install nginx' %}
                    <i class="bi bi-play"></i>
                </button>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
