{% load i18n %}

<div class="input-group input-group-sm mb-3">
    <button class="clickable-folder btn btn-light border" data-path="{{parent}}">
        <i class="bi bi-arrow-up"></i>
    </button>
    <button class="clickable-folder btn btn-light border" data-path="{{app.www_path}}">
        <i class="bi bi-house"></i>
    </button>
    <input id="path" value="{{path}}" class="form-control" readonly>
</div>
{% if dirs %}
<div class="row g-3 mb-3">
{% for dir in dirs %}
    <div class="col-lg-3 col-md-4 col-6">
    <div class="border rounded pointer position-relative">
        <div class="clickable-folder p-2" data-path="{{path}}/{{dir}}">
            <i class="bi bi-folder"></i>
            {{dir|truncatechars:15}}
        </div>
        <div class="dropdown position-absolute top-0 end-0 m-2">
            <i class="bi bi-three-dots-vertical pointer" data-bs-toggle="dropdown"></i>
            <ul class="dropdown-menu">
                <li>
                    <span class="remove-file dropdown-item pointer" data-file="{{path}}/{{dir}}">
                        {% trans 'Delete' %}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    </div>
{% endfor %}
</div>
{% endif %}

{% if files %}
<div class="row g-3">
{% for file in files %}
    <div class="col-lg-3 col-md-4 col-6">
        <div class="border rounded position-relative">
            <div class="p-2">
                <i class="bi bi-file-earmark-code
                    bi-filetype-{{file.lower|slice:'-3:'}}
                    bi-filetype-{{file.lower|slice:'-2:'}}
                    {% if file.lower|slice:'-3:' == 'zip' %}bi-file-earmark-zip{% endif %}"></i>
                {{file|truncatechars:15}}
            </div>
            <div class="dropdown position-absolute top-0 end-0 m-2">
                <i class="bi bi-three-dots-vertical pointer" data-bs-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                    {% if file.lower|slice:'-3:' == "zip" %}
                    <li>
                        <span class="extract-zip dropdown-item pointer" data-folder="false" data-file="{{path}}/{{file}}">
                            {% trans 'Extract here' %}
                        </span>
                    </li>
                    <li>
                        <span class="extract-zip dropdown-item pointer" data-folder="true" data-file="{{path}}/{{file}}" data-file-name="{{file}}">
                            {% trans 'Extract to folder' %}
                        </span>
                    </li>
                    {% endif %}
                    <li>
                        <span class="remove-file dropdown-item pointer" data-file="{{path}}/{{file}}">
                            {% trans 'Delete' %}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}
