{% load i18n %}
{% load static %}
<title>{{filename}}</title>
<form class="" method="post" enctype="multipart/form-data">
    <textarea name="text" id="edit-text">{{text}}</textarea>
    {% csrf_token %}
    <button type="submit" class="save-btn">
        {% trans 'Save' %}
    </button>
</form>


<script src="{% static 'codemirror/codemirror.min.js' %}"></script>

<script src="{% static 'codemirror/addons/matchbrackets.js' %}"></script>
<script src="{% static 'codemirror/addons/closebrackets.js' %}"></script>

<script src="{% static 'codemirror/modes/meta.js' %}"></script>

<link rel="stylesheet" href="{% static 'codemirror/codemirror.min.css' %}" />
<link rel="stylesheet" href="{% static 'codemirror/themes/monokai.css' %}" />

{% if filename|slice:'-2:' == "py" %}
<script src="{% static 'codemirror/modes/python/python.js' %}"></script>
{% elif filename|slice:'-4:' == "html" %}
<script src="{% static 'codemirror/modes/xml/xml.js' %}"></script>
{% elif filename|slice:'-3:' == "css" %}
<script src="{% static 'codemirror/modes/css/css.js' %}"></script>
{% elif filename|slice:'-2:' == "js" or filename|slice:'-4:' == "json" %}
<script src="{% static 'codemirror/modes/javascript/javascript.js' %}"></script>
{% else %}
<script src="{% static 'codemirror/modes/textile/textile.js' %}"></script>
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", function() {
    CodeMirror.fromTextArea(document.getElementById('edit-text'), {
        theme: 'monokai',
        lineNumbers : true,
        lineWrapping : true,
        matchBrackets : true,
        autoCloseBrackets : true,
        matchBrackets : true,
        highlightSelectionMatches : true,
        tabMode: "indent",

        {% if filename|slice:'-2:' == "py" %}
        mode: 'text/x-python',
        {% elif filename|slice:'-4:' == "html" %}
        mode: 'application/xml',
        {% elif filename|slice:'-3:' == "css" %}
        mode: 'text/css',
        {% elif filename|slice:'-2:' == "js" or filename|slice:'-4:' == "json" %}
        mode: 'text/javascript',
        {% else %}
        mode: 'text/x-textile',
        {% endif %}
    });
});

</script>
<style>
    div.CodeMirror{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    .save-btn{
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: #000000;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
    }
</style>
