{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% trans 'Preview' %} {{filename}} {% endblock %}
{% block page_title %} {% trans 'Preview' %} {{filename}} {% endblock %}

{% block content %}
<textarea name="text" id="text-review">{{text}}</textarea>

<script src="{% static 'codemirror/codemirror.min.js' %}"></script>
<script src="{% static 'codemirror/addons/matchbrackets.js' %}"></script>
<script src="{% static 'codemirror/addons/closebrackets.js' %}"></script>
<script src="{% static 'codemirror/modes/meta.js' %}"></script>

<link rel="stylesheet" href="{% static 'codemirror/codemirror.min.css' %}" />
<link rel="stylesheet" href="{% static 'codemirror/themes/monokai.css' %}" />

{% if filename|slice:'-2:' == "py" %}
<script src="{% static 'codemirror/modes/python/python.js' %}"></script>
{% elif filename|slice:'-4:' == "html" %}
<script src="{% static 'codemirror/modes/xml/xml.js' %}"></script>
{% elif filename|slice:'-3:' in "css, php" %}
<script src="{% static 'codemirror/modes/css/css.js' %}"></script>
{% elif filename|slice:'-2:' == "js" or filename|slice:'-4:' == "json" %}
<script src="{% static 'codemirror/modes/javascript/javascript.js' %}"></script>
{% else %}
<script src="{% static 'codemirror/modes/textile/textile.js' %}"></script>
{% endif %}
<script>
jQuery(document).ready(function() {
    CodeMirror.fromTextArea(document.getElementById('text-review'), {
        theme: 'monokai',
        lineNumbers : true,
        lineWrapping : true,
        matchBrackets : true,
        autoCloseBrackets : true,
        matchBrackets : true,
        highlightSelectionMatches : true,
        tabMode: "indent",
        readOnly : true,

        {% if filename|slice:'-2:' == "py" %}
        mode: 'text/x-python',
        {% elif filename|slice:'-4:' == "html" %}
        mode: 'application/xml',
        {% elif filename|slice:'-3:' in "css, php" %}
        mode: 'text/css',
        {% elif filename|slice:'-2:' == "js" or filename|slice:'-4:' == "json" %}
        mode: 'text/javascript',
        {% else %}
        mode: 'text/x-textile',
        {% endif %}
    });
});
</script>
<style>
    div.CodeMirror{height: 70vh}
</style>
{% endblock %}