{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'About' %} {% endblock %}
{% block page_title %} {% trans 'About' %} {% endblock %}

{% block content %}
<div class="row g-3">
    <div class="col-lg-6">
        <div class="bg-white border rounded p-3 mb-3 h-100">
            <div class="h4 fw-bold">
                {% trans 'Copyright' %}
            </div>
            <div class="my-3">
                {% trans 'Copyright' %} © <a href="https://de-ver.com" class="fw-bold" target="_blank">{% trans 'Dever' %}</a> {% now 'Y' %}. {% trans 'All rights reserved.' %}
            </div>
            <div class="my-3">
                {% trans 'This program and its contents are the property of Dever and protected under international copyright laws. Sale, distribution, or reproduction of this program in any form, in whole or in part, without prior express written permission from Dever is strictly prohibited.' %}
            </div>
            <div class="my-3">
                {% trans 'Use of this program for any purpose not disclosed in Dever licensing agreements is also strictly prohibited. Any damages or legal liability arising from unauthorized use of this program is solely the responsibility of the individual or entity engaging in such use.' %}
            </div>
            <div class="my-3">
                {% trans 'Dever is responsible for updating and maintaining this program, and the developers are not liable for any errors, malfunctions, or damages resulting from the bad use of this program.' %}
            </div>
            <div class="my-3">
                {% trans 'Dever reserves all rights in the event of any copyright infringement or violation of this program. Any person or entity wishing to use this program assumes full responsibility for any loss or damage that may result.' %}
            </div>
            <div class="my-3">
                {% trans 'The terms and conditions are updated from time to time in accordance with the laws, so users are requested to update themselves regularly on these terms and conditions.' %}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="bg-white border rounded p-3 h-100">
            <div class="h4 fw-bold">
                {% trans 'Terms of use' %}
            </div>
            <div class="my-3">
                {% trans 'Copyright and instructions for' %} <a href="https://de-ver.com" class="fw-bold" target="_blank">{% trans 'Dever' %}</a>
            </div>
            <div class="my-3">
                {% trans 'This program is provided "as is". Dever shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of the misuse or inability to use this program..' %}
            </div>
            <div class="my-3">
                {% trans 'This program contains information related to Dever, its products, and services, and this information is confidential and proprietary to Dever. Users are prohibited from using this information for any unauthorized purpose or conducting any unauthorized commercial activity without obtaining permission from Dever.' %}
            </div>
            <div class="my-3">
                {% trans 'The full responsibility for using this program and complying with its terms and conditions rests entirely with the end user.' %}
            </div>
            <div class="my-3">
                {% trans 'When purchasing the program, the purchase is for one time, and you have purchased the copy that you previewed before purchase, and periodic updates are with an annual or semi-annual subscription' %}.
            </div>
            <div class="my-3">
                {% trans 'This program may not be resold or distributed in any form without the direct permission of Dever' %}.
            </div>
        </div>
    </div>
</div>
{% endblock %}