{% load i18n %}
{% load static %}

<div class="bg-white border shadow-sm rounded-10 p-3">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'User' %}</th>
                <th>{% translate 'Password' %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for database in databases %}
                <tr>
                    <td>{{database.name}}</td>
                    <td>{{database.username}}</td>
                    <td>
                        <div class="blur-group input-group input-group-sm">
                            <input class="blur-text blured-text form-control" value="{{database.password}}" readonly>
                            <button type="button" class="remove-blur btn btn-warning" data-text="{{database.password}}">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button type="button" class="copy-this pointer btn btn-dark" data-text="{{database.password}}" data-message="{% trans 'Password copied' %}">
                                <i class="bi bi-clipboard"></i>
                            </button>
                        </div>
                    </td>
                    <td class="text-end">
                        <a href="{% url 'psql_database_download' database.serial %}" target="_blank" class="btn btn-success btn-sm rounded-pill">
                            <i class="bi bi-download"></i>
                            {% trans 'Download' %}
                        </a>
                        <a href="{% url 'psql_database_delete' database.serial %}" class="btn btn-danger btn-sm rounded-pill" onclick="if(!confirm('{% trans 'Do you wand delete!\n This step cannot be undo' %}'))return false;">
                            <i class="bi bi-trash"></i>
                            {% trans 'Delete' %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>