[Unit]
Description=DPanel service
After=network.target

[Service]
Group=www-data
WorkingDirectory=/var/server/dpanel/app
ExecStart=/var/server/dpanel/venv/bin/python /var/server/dpanel/app/manage.py runserver 0.0.0.0:8080
Restart=always

[Install]
WantedBy=multi-user.target