{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate 'Databases' %} {% endblock%}
{% block page_title %}{% trans 'All databases' %} <small class="fs-6">(MySql)</small>{% endblock %}

{% block title_button %}
<a class="btn btn-primary btn-sm rounded-pill" href="{% url 'mysql_database_new' %}">
    {% translate 'New' %}
    <i class="fas fa-plus"></i>
</a>
{% endblock %}

{% block content %}
{% if databases %}
{% include "mysql/list.html" %}
{% else %}
<div class="bg-white border p-3 rounded">
    {% trans 'Nothing was found' %}
</div>
{% endif %}
{% endblock %}
