{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate 'Databases' %} {% endblock%}
{% block page_title %}{% trans 'All databases' %} <small class="fs-6">(MySql)</small>{% endblock %}

{% block title_button %}
{% if status.mysql_status %}
<a class="btn btn-primary btn-sm rounded-pill" href="{% url 'mysql_database_new' %}">
    {% translate 'New database' %}
    <i class="fas fa-plus"></i>
</a>
{% endif %}
{% endblock %}

{% block content %}
{% if status.mysql_status %}
    {% if databases %}
    {% include "mysql/list.html" %}
    {% include 'inc/paginator.html' with query=databases %}
    {% else %}
    <div class="bg-white shadow-sm p-3 rounded">
        {% trans 'No databases found' %}
    </div>
    {% endif %}
{% else %}
    <div class="bg-white shadow-sm p-3 rounded text-center">
        <div class="fw-bold h5">
            {% trans 'MySQL server not installed' %}
        </div>
        <button type="button" class="btn btn-warning btn-sm rounded-pill" id="install-mysql">
            {% translate 'Install MySQL server now' %}
        </button>
    </div>
<script>

jQuery("#install-mysql").click(function() {
    Swal.fire({
        title: '{% translate 'Install' %} MySQL',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#1d1e2c',
        cancelButtonColor: '#dc3545',
        confirmButtonText: '{% translate 'Yes, install it!' %}',
        allowOutsideClick: false,
    }).then((result) => {
        if (result.isConfirmed) {
            jQuery('.loading-preloader').show();
            jQuery.ajax({
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'mysql_install': true
                },
                success: function (response) {
                    jQuery('.loading-preloader').hide();
                    Swal.fire({
                        icon: response.success ? 'success' : 'error',
                        text: response.message,
                        allowOutsideClick: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "{% url 'mysql_databases' %}";
                        }
                    });
                },
                error: function () {
                    jQuery('.loading-preloader').hide();
                    alert('{% trans "An error occurred while submitting the form" %}');
                }
            });
        }
    });
});
</script>

{% endif %}
{% endblock %}
