{% load i18n %}
{% load static %}

<div class="table-responsive-md">
    <table class="table align-middle">
        <thead>
        <tr>
            <th style="width: 0">#</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Size' %}</th>
            <th>{% translate 'Users' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for database in databases %}
            <tr class="database-{{database.serial}}">
                <td>{% include 'inc/loop.html' with query=databases %}</td>
                <td>
                    <a href="{% url 'mysql_database' database.serial %}" class="fw-bold">
                        {{database.name}}
                    </a>
                </td>
                <td>{{database.get_size}}<small>KB</small></td>
                <td>{{database.users.all|join:', '|default:_('N/A')}}</td>
                <td>
                    <div class="dropdown">
                        <i class="bi bi-three-dots-vertical float-end pointer" data-bs-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item pointer" href="{% url 'mysql_database' database.serial %}">
                                    <i class="bi bi-info-circle float-end"></i>
                                    {% trans 'Details' %}
                                </a>
                            </li>
                            <li><div class="dropdown-divider"></div></li>
                            <li>
                                <a class="dropdown-item pointer" href="{% url 'mysql_database_edit' database.serial %}">
                                    {% trans 'Edit' %}
                                    <i class="bi bi-pencil float-end text-success"></i>
                                </a>
                            </li>
                            <li><div class="dropdown-divider"></div></li>
                            <li>
                                <a href="javascript:void(0)" class="dropdown-item pointer" onclick="open_link_confirm('{% url 'mysql_database_delete' database.serial %}', '{% trans 'Delete database' %}: {{database.name}}', '', true)">
                                    {% trans 'Delete' %}
                                    <i class="bi bi-trash float-end text-danger"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>