{% extends "base.html" %}
{% load i18n tags %}

{% block title %} {% trans 'Databases' %} - {{database.name}}{% endblock %}
{% block page_title %}{% trans 'Databases' %} - {{database.name}} - {{table_name}}{% endblock %}

{% block content %}
<div class="bg-white shadow-sm p-3 rounded mb-3">
    <table class="table">
        <thead>
        <tr>
            {% for column in column_names %}
            <th>{{column}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table_data %}
        <tr>
            {% for column in column_names %}
            <td><input type="text" value="{{row|get_item:column|default:'NULL'}}" class="form-control form-control-sm border-0" readonly></td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
