[Unit]
Description=DPanel service
After=network.target

[Service]
Group=www-data
WorkingDirectory=/var/dpanel
ExecStart=/var/venv/dj_venv/bin/python /mnt/d/Developing/PyProjects/pythonProject/dpanel/manage.py runserver 0.0.0.0:8040
Restart=always

[Install]
WantedBy=multi-user.target