{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate 'Terminal' %} {% endblock%}
{% block page_title %}{% trans 'Terminal' %}{% endblock %}

{% block content %}
<div class="bg-white border p-3 rounded">
    <script src="https://cdn.jsdelivr.net/npm/xterm@5.3.0/lib/xterm.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@5.3.0/css/xterm.min.css">
    <div id="terminal"></div>
    <script>
        const terminalContainer = document.getElementById('terminal');
        const term = new Terminal();

        term.open(terminalContainer);

        const socket = new WebSocket('ws://{% url 'terminal' %}');

        socket.onopen = function () {
          term.onData(function (data) {
            socket.send(data);
          });
        };

        socket.onmessage = function (event) {
          term.write(event.data);
        };

    </script>

</div>
{% endblock %}
