{% load i18n %}

<script>

    jQuery('[href="{{request.path}}"]').addClass('fw-bold');

    function open_link_confirm(u, title, text, captcha) {
        title = title || '{% trans 'Are you sure to continue?' %}';
        text = text || '{% trans 'This risk cannot be reversed.' %}';
        captcha = captcha || false;
        if(captcha){
            captcha_number = Math.floor(1000 + Math.random() * 9000);
            Swal.fire({
                title: title,
                html: text + '<br><br><div class="h4 fw-bold text-danger">' + captcha_number + '</div>{% trans "Enter the number in the box below to confirm" %}',
                icon: 'warning',
                input: 'number',
                inputAttributes: {
                    autocapitalize: 'off',
                },
                showDenyButton: true,
                confirmButtonText: '{% trans "Continue" %}',
                denyButtonText: '{% trans "Cancel" %}',
                confirmButtonColor: '#1d1e2c',
                denyButtonColor: '#dc3545',
                inputValidator: (value) => {
                    if (!value) {
                        return '{% trans "Captcha is required" %}';
                    }
                    if (value == captcha_number) {
                        jQuery('.loading-preloader').show();
                        location.href = u;
                    }else{
                        return '{% trans "Wrong captcha" %}';
                    }
                }
            });
        }else{
            Swal.fire({
                title: title,
                text: text,
                icon: 'warning',
                showDenyButton: true,
                confirmButtonText: '{% trans "Continue" %}',
                denyButtonText: '{% trans "Cancel" %}',
                confirmButtonColor: '#1d1e2c',
                denyButtonColor: '#dc3545',
            }).then((result) => {
                if (result.isConfirmed) {
                    jQuery('.loading-preloader').show();
                    location.href = u;
                }else if(result.isDenied) {
                    return false;
                }
            });
        }
    }

    function copy_this(value, message=false){
        navigator.clipboard.writeText(value);
        Swal.fire({
          icon: 'success',
          title: '{% trans "Copied" %}',
          text: message,
          confirmButtonText: '{% trans "Okay" %}',
          confirmButtonColor: '#1d1e2c',
        });
    }

    function install_package(app){
        Swal.fire({
            title: '{% trans "Installing package" %}',
            text: '{% trans "Please type library name to install" %}',
            icon: 'info',
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off',
                placeholder: '{% trans "Example: django" %}'
            },
            showDenyButton: true,
            confirmButtonText: '{% trans "Continue" %}',
            denyButtonText: '{% trans "Cancel" %}',
            confirmButtonColor: '#1d1e2c',
            denyButtonColor: '#dc3545',
            inputValidator: (value) => {
                if (!value) {
                    return '{% trans "Package name is required" %}';
                }else{
                    jQuery.ajax({
                        type: "GET",
                        url: "{% url 'app_package_install' %}",
                        dataType: "json",
                        data: {
                            'package': value,
                            'app': app
                        },
                        beforeSend: function () {
                            jQuery('.loading-preloader').show();
                        },
                        success: function (response) {
                            jQuery('.loading-preloader').hide();
                            Swal.fire({
                                icon: response.success ? 'success' : 'error',
                                html: response.message,
                            })
                        },
                        error: function () {
                            jQuery('.loading-preloader').hide();
                            Swal.fire({
                                icon: 'error',
                                html: '{% trans "An error occurred while submitting the form" %}',
                            });
                        }
                    });
                }
            }
        });
    }

    jQuery('.remove-blur').click(function(e){
        blured = jQuery(this).parents('.blur-group').find('.blur-text');
        if(blured.hasClass('blured-text')){
            blured.removeClass('blured-text');
        }else{
            blured.addClass('blured-text');
        }
    });

    jQuery('.preloader-form').submit(function(e){
        jQuery('.loading-preloader').show();
    });
</script>

<script>
    jQuery('body').on('click', '#check-updates', function(){
        jQuery('.loading-preloader').show();
        $.getJSON('https://dpanel.top/api/update/check', function(data){
            if(data.version > 25){
                Swal.fire({
                    title: '{% trans "New version available" %}',
                    text: '{% trans "Please carefully before updating? please take a backup first" %}',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '{% trans 'Update' %}',
                    cancelButtonText: '{% trans 'Cancel' %}',
                }).then((result) => {
                    if (result.isConfirmed) {
                        jQuery('.loading-preloader').show();
                        jQuery.ajax({
                            url: '{% url 'dpanel_update' %}',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                csrfmiddlewaretoken: '{{csrf_token}}',
                            },
                            success: function(data){
                                jQuery('.loading-preloader').hide();
                                Swal.fire({
                                    title: '{% trans "Update successful" %}',
                                    icon: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: '{% trans "Ok" %}',
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.reload();
                                    }
                                });
                            },
                            error: function(data) {
                                jQuery('.loading-preloader').hide();
                                Swal.fire({
                                    title: '{% trans "Error when updating" %}',
                                    text: data.message,
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: '{% trans "Ok" %}',
                                });
                            },
                        });
                    }
                });
            }else if(data.version == 25){
                Swal.fire({
                    title: '{% trans "You are using the latest version" %}',
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: '{% trans "Ok" %}',
                });
            }else{
                Swal.fire({
                    title: '{% trans "Error occurred. Please try again later" %}',
                    icon: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: '{% trans "Ok" %}',
                });
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            jQuery('.loading-preloader').hide();
            Swal.fire({
                title: '{% trans "Error occurred. Please try again later" %}',
                icon: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: '{% trans "Ok" %}',
            });
        });
        jQuery('.loading-preloader').hide();
    });

    jQuery('.backup-import').on('change', function () {
        restore_form = jQuery(this).parents('form');
        if(jQuery(this).val() != '') {
            Swal.fire({
                title: '{% trans 'Restore backup' %}',
                text: '{% trans 'Are you sure you want to restore backup for this database ?' %}',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#1d1e2c',
                cancelButtonColor: '#d33',
                confirmButtonText: '{% trans 'Yes' %}',
                cancelButtonText: '{% trans 'No' %}',
            }).then((result) => {
                if (result.isConfirmed) {
                    jQuery('.loading-preloader').show();
                    restore_form.submit();
                }
            });
        }
    });

    jQuery('body').on('submit', '#remote-form', function(e){
        e.preventDefault();
        if(jQuery('#remote-file').val()==''){
            Swal.fire({
                title: '{% trans "Error" %}',
                text: '{% trans 'Please add file url to get it' %}',
                icon: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: '{% trans "Ok" %}',
            });
            return;
        }
        jQuery.ajax({
            type: "POST",
            url: jQuery(this).attr('action'),
            data: jQuery(this).serialize(),
            success: function(data){
                reload_folder();
            }
        });
    });
</script>