{% load i18n %}

<script>

    jQuery('[href="{{request.path}}"]').addClass('fw-bold');

    function open_link_confirm(u, title='{% trans 'Are you sure to continue?' %}', text='{% trans 'This risk cannot be reversed.' %}') {
        Swal.fire({
            title: title,
            text: text,
            showDenyButton: true,
            confirmButtonText: '{% trans "Continue" %}',
            denyButtonText: '{% trans "Cancel" %}',
        }).then((result) => {
            if (result.isConfirmed) {
                jQuery('.loading-preloader').show();
                location.href = u
            }else if(result.isDenied) {
                return false
            }
        });
    }

    function copy_this(text){
        navigator.clipboard.writeText(text);
        const Toast = Swal.mixin({
              toast: true,
              position: 'top',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
              }
        });

        Toast.fire({
          icon: 'success',
          title: '{% trans "Text copied" %}'
        });
    }

    jQuery('.remove-blur').click(function(e){
        blured = jQuery(this).parents('.blur-group').find('.blur-text');
        if(blured.hasClass('blured-text')){
            blured.removeClass('blured-text');
        }else{
            blured.addClass('blured-text');
        }
    });

    jQuery('.preloader-form').submit(function(e){
        jQuery('.loading-preloader').show();
    });
</script>